<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
</head>
<link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">
<script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
<script type="text/javascript" src="http://unpkg.com/iview/dist/iview.min.js"></script>
<script type="text/javascript" src="../res/jquery-3.5.1/jquery-3.5.1.js"></script>
<link rel="stylesheet" type="text/css" href="../res/css/stu-login.css">
<body>
    <div id="app">
        <i-layout style="text-align: center;">
            <i-header>
                Welcome!
            </i-header>
            <i-content>
                <div class="content">
                    <div class="back">
                        <img src="../res/img/cute.png"
                             style="border-radius: 50%;width: 70px;height: 70px;margin-top: 40px;">
                        <i-form ref="userBase" :model="userBase" :rules="ruleInline" class="show">
                            <form-item prop="user_account">
                                Account
                                <i-input type="text" v-model="userBase.user_account"
                                         placeholder="Account/PhoneNumber/Email">
                                    <Icon type="ios-person-outline" slot="prepend"></Icon>
                                </i-input>
                            </form-item>
                            <form-item prop="password">
                                Password
                                <i-input type="user_pwd" v-model="userBase.user_pwd" placeholder="Password">
                                    <Icon type="ios-lock-outline" slot="prepend"></Icon>
                                </i-input>
                            </form-item>
                            <form-item>
                                <i-button type="primary" @click="toRegistry()">Register</i-button>
                                <i-button type="primary" style="margin-left: 30px;" @click="handleSubmit('userBase')">
                                    Sign-In
                                </i-button>
                            </form-item>
                        </i-form>
                    </div>
                </div>
            </i-content>
            <i-footer style="text-align: center;">
                Create By Peng Shunxin. 2021.1.20
            </i-footer>
        </i-layout>

    </div>
</body>
<script>
    var phoneReg = /(^1\d{10}$)|(^[0-9]\d{7}$)/;

    new Vue({
        el: '#app',
        data: {
            value2: 0,
            userBase: {
                user_account: '',
                user_pwd: '',
                auth: false,
            },
            ruleInline: {
                user: [
                    {required: true, message: 'Please fill in the account', trigger: 'blur'}
                ],
                password: [
                    {required: true, message: 'Please fill in the password.', trigger: 'blur'},
                    {type: 'string', min: 6, message: 'The password length cannot be less than 6 bits', trigger: 'blur'}
                ]
            }
        },
        methods: {
            handleSubmit(name) {
                this.$refs[name].validate((valid) => {
                    if (valid) {
                        $.ajax({
                            url: '/doLogin',
                            type: 'post',
                            contentType: "application/json;charset=UTF-8",
                            data: JSON.stringify(this.userBase),
                            success(res) {
                                alert("登录成功！");
                                console.log(res);
                            }
                        })
                        // this.$Message.success('Success!');
                    } else {
                        this.$Message.error('Fail!');
                    }
                })
            },
            toRegistry() {
                window.location.href = "./Registry.html";
            }
        }
    });
</script>

</html>