<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">
<script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
<script type="text/javascript" src="http://unpkg.com/iview/dist/iview.min.js"></script>
<link rel="stylesheet" type="text/css" href="../res/css/stu-login.css">
<body>
    <div id="app">
        <i-layout style="text-align: center;">
            <i-header>
                Welcome!
            </i-header>
            <i-content>
                <div class="content">
                    <div class="backRegistry">
                        <img src="../res/img/cute.png"
                             style="border-radius: 50%;width: 70px;height: 70px;margin-top: 40px;">
                        <i-form ref="formCustom" :model="formCustom" :rules="ruleCustom" class="show">
                            <form-item label="Account" prop="account">
                                <i-input type="text" v-model="formCustom.account"></i-input>
                            </form-item>
                            <form-item label="Phone" prop="phone">
                                <i-input type="text" v-model="formCustom.phone" number></i-input>
                            </form-item>
                            <form-item label="Email" prop="email">
                                <i-input type="text" v-model="formCustom.email"></i-input>
                            </form-item>
                            <form-item label="Password" prop="passwd">
                                <i-input type="password" v-model="formCustom.passwd"></i-input>
                            </form-item>
                            <form-item label="Confirm" prop="passwdCheck">
                                <i-input type="password" v-model="formCustom.passwdCheck"></i-input>
                            </form-item>

                            <form-item>
                                <i-button type="primary" @click="handleSubmit('formCustom')">Submit</i-button>
                                <i-button @click="handleReset('formCustom')" style="margin-left: 8px">Reset</i-button>
                            </form-item>
                        </i-form>
                    </div>
                </div>
            </i-content>
            <i-footer style="text-align: center;">
                Create By Peng Shunxin. 2021.1.20
            </i-footer>
        </i-layout>

    </div>
</body>
<script>
    var userBase = {
        user_account: '',
        user_pwd: '',
        phone: '',
        email: '',
        auth: false
    };

    var Main = {
        data() {
            const validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('Please enter your password'));
                } else {
                    if (this.formCustom.passwdCheck !== '') {
                        // 对第二个密码框单独验证
                        this.$refs.formCustom.validateField('passwdCheck');
                    }
                    callback();
                }
            };
            const validatePassCheck = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('Please enter your password again'));
                } else if (value !== this.formCustom.passwd) {
                    callback(new Error('The two input passwords do not match!'));
                } else {
                    callback();
                }
            };
            const validateAccount = (rule, value, callback) => {
                if (!value) {
                    return callback(new Error('请正确输入账号格式'));
                }
                const reg = /^\d{6,12}$/;
                const reg2 = /^[0-9]+$/;
                const reg3 = /[@]/im;
                if (!reg.test(value)) {
                    callback(new Error('6-12个字，不能用特殊符号@，不能纯数字'))
                } else if (reg2.test(value)) {
                    callback(new Error('2-8个字，不能用特殊符号@，不能纯数字'))
                } else if (reg3.test(value)) {
                    callback(new Error('2-8个字，不能用特殊符号@，不能纯数字'))
                } else {
                    callback();
                }
                // 异步验证效果
                $.ajax({
                    url: '/checkAccount',
                    type: 'post',
                    contentType: "application/json;charset=UTF-8",
                    data: {
                        'account': this.formCustom.account
                    },
                    success(res) {
                        if (res.code === 666) {
                            callback(res.message)
                        } else {
                            callback(new Error('此账号已存在'));
                        }
                    }
                });
            };
            const validatePhone = (rule, value, callback) => {
                if (!value) {
                    return callback(new Error('手机号不能为空'));
                } else if (!/^1[34578]\d{9}$/.test(value)) {
                    callback('手机号格式不正确');
                } else {
                    callback();
                }
            };
            var validateEmail = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请正确填写邮箱'));
                } else {
                    if (value !== '') {
                        var reg = /^[A-Za-z0-9\u4e00-\u9fa5]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
                        if (!reg.test(value)) {
                            callback(new Error('请输入有效的邮箱'));
                        }
                    }
                    callback();
                }
            };
            return {
                formCustom: {
                    passwd: '',
                    passwdCheck: '',
                    account: '',
                    email: '',
                    phone: ''
                },
                ruleCustom: {
                    passwd: [
                        {validator: validatePass, trigger: 'blur'}
                    ],
                    passwdCheck: [
                        {validator: validatePassCheck, trigger: 'blur'}
                    ],
                    account: [
                        {validator: validateAccount, trigger: 'blur'}
                    ],
                    phone: [
                        {validator: validatePhone, trigger: 'blur'}
                    ],
                    email: [
                        {validator: validateEmail, trigger: 'blur'}
                    ]
                },
            }
        },
        methods: {
            handleSubmit(name) {
                this.$refs[name].validate((valid) => {
                    if (valid) {
                        this.$Message.success('Success!');
                        $.ajax({
                            url: '/stu/doRegistry',
                            type: 'post',
                            contentType: "application/json;charset=UTF-8",
                            data: JSON.stringify(this.userBase),
                            success(res) {
                                alert("注册成功！");
                                console.log(res);
                                window.location.href = './MoreInfo.html'
                            }
                        })
                    } else {
                        this.$Message.error('Fail!');
                    }
                })
            },
            handleReset(name) {
                this.$refs[name].resetFields();
            }
        }
    };
    var Component = Vue.extend(Main);
    new Component().$mount('#app')
</script>

</html>